html, button, label, h1, h2{
    font-family: Avenir, Helvetica, Arial, sans-serif;
}
html{
    --transparent-light: hsla(0, 0%, 100%, 0.5);
    color: #2c3e50;
}
body{
    margin: 0;
}
button{
    padding: 1rem 2rem;
    margin: 0.5rem;
    text-transform: uppercase;
    background-color: dodgerblue;
    color: white;
    font-weight: bolder;
    font-size: 1.1rem;
    border-radius: 1rem;
    border: 0;
}
form, main{
    width: fit-content;
    background-color: lightblue;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}